<div class="row">
  <div id="movies-container" class="col s4 animated fadeInDown">
    <div class="row">
      <div class="col s12" ng-repeat="movie in moviesCtrl.moviesArr">
        <a ui-sref="movieScroller.details({movieId: movie.id})">
          <img class="hoverable responsive-img poster-scroller" ng-src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}">
        </a>
      </div>
    </div>
  </div>
  <div id="clicked-details-container" class="col s8 animated bounceInRight">
    <ui-view></ui-view>
    <div class="container">
      <div id="buttons-container" class="row">
        <button id="back-button" ng-click="moviesCtrl.goBack()" class="btn col s2 offset-s2">Previous</button>
        <div class="col s4"></div>
        <button id="jump-to-surf" class="btn waves-effect col s2" ui-sref="home">Surf</button>
      </div>
    </div>
  </div>
</div>
