<div class="container">
  <div class="row">
    <h4 class="center-align">{{moviesShowCtrl.movie.title}}</h4>
    <div id="poster-container" class="col s6">
      <img class="hoverable responsive-img" ng-src="http://image.tmdb.org/t/p/w342{{moviesShowCtrl.movie.poster_path}}">
    </div>
    <div id="details-container" class="col s6">
      <p>{{moviesShowCtrl.movie.release_date}}</p>
      <p>{{moviesShowCtrl.movie.vote_average}}/10</p>
    </div>
  </div>
  <div class="row">
    <p class="center-align">{{moviesShowCtrl.movie.overview}}</p>
  </div>
</div>
