#movies-container {
  height: 900px;
  overflow: auto;
}

.poster-main {
  width: 20%;
  height: 300px;
  margin-left: auto;
  left: auto;
  right: auto;
}

.poster-scroller {
  display: block;
  margin: 0 auto;
  padding: 2px;
}

#clicked-details-container {
  height: 900px;
  background-color: #f1f1f1;
}

#movie-info-container {
  background-color: white;
  height: 600px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px 40px 20px 40px;
}

#movie-info-details-container {
  width: 100%;
  overflow: auto;
}

.movie-detail {
  margin-top: 15%;
  margin-bottom: 15%;
}

hr {
  margin-bottom: 10px;
}

#overview-text {
  margin: 10px;
}

.yt-container {
  margin: 7.6%;
}

.trailer-num, .review-author {
  background-color: #d32f2f;
}

.review-text {
  margin: 20px;
}

#buttons-container {
  margin-top: 40px;
}

#jump-to-surf {
  background-color: #d32f2f;
}
